.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.objects {
    margin: 10px;
    height: 100px;
    overflow-y: scroll;
    resize: vertical;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.object-item {
    display: flex;
    padding: 5px;
    gap: 10px;
    align-items: center;
}
.object-item:hover {
    background-color: #f0f0f0;
}
.circle{
    height: 10px;
    width: 10px;
    background-color: lightblue;
    border-radius: 50%;
}
.property-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row {
    display: flex;
}
.property {
    flex: 1;
}
.value {
    flex: 2;
}
.selected {
    background-color: #ebeaea;
}
.value-container {
    display: flex;
    gap: 5px;
}
.value-container input {
    width: 50px;
}